<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <body>
    <div class="container" style="padding-top: 10px">
        <table class="table table-bordered table-hover">
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>삭제</th>
            </tr>
            {% for product in products %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    <nav>
        <ul class="pagination">
          {% if paginate.hasPreviousPages %}
          <li>
            <a href="{{ paginate.href(true) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %} {% for page in pages %}
          <li class="{% if paginate.page == page.number %} active {% endif %}">
            <a href="{{ page.url }}">{{ page.number }} </a>
          </li>
          {% endfor %} {% if paginate.hasNextPages( pageCount ) %}
          <li>
            <a href="{{ paginate.href() }}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    <a href="/products/write" class="btn btn-default">작성하기</a>
    </div>
  </body>
</html>
