{% block content -%}
<div class="cont_hd">
  <div class="top_nav" id="cont_hd">
    <div class="top_left">
      <div class="logo_box">
        <a href="/main"><img src="/img/pc/vts_logo.svg" alt="EnjoyStreet로고" /></a>
      </div>
      <div class="menu_box">
        <ul>
          <li><a href="/intro/guide">Tourist Guide</a></li>
          <li><a href="/intro/trip">Recommended Tour</a></li>
        </ul>
      </div>
    </div>
    <div class="nav_lnb top_right">
      <ul class="lang_box">
        <li>
          <a href="/main" data-lang="ko"><img src="/img/pc/kr.svg" alt="korean" /></a>
        </li>
        <li>
          <a href="/main" data-lang="cn"><img src="/img/pc/chn.svg" alt="chinese" /></a>
        </li>
        <li>
          <a href="/main" data-lang="us"><img src="/img/pc/usa.svg" alt="english " /></a>
        </li>
        <li>
          <a href="/main" data-lang="jp"><img src="/img/pc/jpn.svg" alt="japanese" /></a>
        </li>
      </ul>
      <ul class="login_box">
        {% if user %}
        <li><a href="/auth/logout">로그아웃</a></li>
        {% else %}
        <li><a href="/guide/login">가이드 로그인</a></li>
        <li><a href="/store/login">판매점 로그인</a></li>
        <li><a href="/signup/partner">회원가입</a></li>
        {% endif %}
      </ul>
    </div>
    <nav class="nav_slidenav">
      <span class="close_sidenav"><i class="fas fa-times"></i></span>
      <div class="cont_box">
        <p>LANGUAGE</p>
        <ul class="lang_box">
          <li>
            <a href="/main" data-lang="ko"><img src="/img/pc/kr.svg" alt="korean" />KOREAN</a>
          </li>
          <li>
            <a href="/main" data-lang="cn"><img src="/img/pc/chn.svg" alt="Chinese" />CHINESE</a>
          </li>
          <li>
            <a href="/main" data-lang="us"><img src="/img/pc/usa.svg" alt="english " />ENGLISH</a>
          </li>
          <li>
            <a href="/main" data-lang="jp"><img src="/img/pc/jpn.svg" alt="japanese" />JAPANESE</a>
          </li>
        </ul>
        <ul class="login_box">
          {% if user %}
          <li><a href="/auth/logout">로그아웃</a></li>
          {% else %}
          <li><a href="/guide/login">가이드 로그인</a></li>
          <li><a href="/store/login">판매점 로그인</a></li>
          <li><a href="/signup/partner">회원가입</a></li>
          {% endif %}
        </ul>
        <div class="menu_wrap">
          <p>카테고리</p>
          <ul class="gnb">
            <li><a href="/intro/guide">Tourist Guide</a></li>
            <li><a href="/intro/trip">Recommended Tour</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="hamburger_wrapper">
      <span class="hamburger"><i class="fas fa-bars"></i></span>
    </div>
    <div class="back_img"></div>
  </div>
</div>
{% endblock %}
