@import "base.css";

/* 로그인 */
.login {height: 100%;}
.login .contents {padding: 100px 20px 0}
.login .contents .title_box {margin-bottom: 48px;font-size: 25px;text-align: center;text-transform: uppercase;}
.login .contents .login_form {margin: 0 auto; padding-bottom: 10px; min-width: 280px;}
.login .contents .login_input {padding-bottom: 12px;}
.login .contents .login_input label {font-size: 0;text-indent: -99999px;}
.login .contents .login_input input {width: 100%;padding: 14px 12px;border-radius: 4px;font-size: 14px;color: #333;background: #fff;border: 1px solid #e5e5e5;}
.login .contents .login_input input::placeholder{color:#c1c1c2;}
.login .contents .pass_box {position: relative;}
.login .contents .pass_box input{padding-right:35px;}
.login .contents .pass_box i {position:absolute;right: 12px;top: 13px;color:#949aae;font-size: 20px;cursor:pointer;}
.login_set {padding-bottom: 30px;font-size: 14px;}
.login_set .input_group {display: inline-block;}
.sign_btn {margin-top: 20px;padding: 15px 10px;width: 100%;text-align: center;background: #5f63ff;font-size: 14px;color: #fff;font-weight: bold;border-radius: 4px;cursor: pointer;}
.sub_login {padding-bottom: 35px;}
.login .contents .sub_login .title_box {position: relative;margin-bottom: 30px;}
.sub_login .title_box:before {content: '';display: block;width: 100%;height: 1px;background: rgba(0,0,0,0.1);position: absolute;top: 15px;z-index: 0;}
.sub_login .title_box h3 {display: inline-block;font-size: 14px;padding: 3px 15px;background: #fff;position: relative;color: rgba(0,0,0,0.2);z-index: 1;}
.sub_login .sns {text-align: center;}
.sub_login .sns li {display: inline-block;margin-left: 15px;}
.sub_login .sns li:first-child {margin-left:0px;}
.sub_login .sns li button {width: 50px; height: 50px;}
.sub_login .sns li button img {width: 100%}
.sign a {width: 100%;display: inline-block;text-align: center;padding: 0 16px;color: #5f63ff;font-size: 14px;border: 1px solid #5f63ff;border-radius: 4px;font-weight: bold;box-sizing: border-box;height: 48px;line-height: 48px;}

/* 로그인페이지외 공통 */
.header{width:100%;height:44px;background:#fff;border-bottom: 1px solid #f3f3f3;display:inline-block;overflow:hidden;position: fixed;z-index: 10;}
.header.sub {padding: 0 10px;}
.header.sub h1 {float: right;margin-left: 10px;line-height: 44px;font-size: 14px;}
.header.sub a {float: left;line-height: 44px;}
.header.sub a > span {font-size: 0}
.login.sub .main {position: relative;padding: 70px 20px 10px;height: 100%;}

/* 아이디 비밀번호 찾기 */
.sub_cont{padding: 30px 20px 0;}
.sub_cont.sign{padding-top: 70px;}
.sub_title_box{padding: 0 20px;font-size: 18px;line-height: 50px;font-weight: 400;border-bottom: 2px solid #5f63ff;}
.sub_cont .sub_header{text-align: center;margin-bottom: 30px;}
.sub_cont .sub_header h1{font-size:16px; line-height:66px;}
.sub_cont.sign .sub_header img{height: 50px;margin:0 auto;}
.sub_cont.sign .sub_header span{display:block;margin-top: -5px;font-size: 18px;line-height:28px;letter-spacing:-0.4px;color: rgba(0,0,0,0.8);}
.sub_cont.sign .sub_header span b{font-weight:700;}
.sub_cont.find_com{text-align: center;font-size: 14px;padding-top:90px;}
.sub_cont.find_com i.far{font-size: 50px;color:#5f63ff;margin-bottom:20px;}
.sub_cont.find_com p{font-size: 14px;line-height: 22px;margin-bottom: 12px;word-break: keep-all;}
.sub_cont.find_com span{color:#5f63ff;}
.sub_cont.find_com .sign_btn {margin-top: 20px;padding: 17px 10px;width: 100%;text-align: center;background: #5f63ff;font-size: 14px;color: #fff;font-weight: 500;border-radius: 4px;cursor: pointer;display: inline-block;}
.sub_cont.find_com .sign_cont{text-align: left;}
.sub_cont.find_com .sign_cont label{font-size: 14px;display: block;margin-bottom: 12px;font-weight: bold;}
.sub_cont.find_com .sign_cont input{width: 100%;padding: 14px 12px;border-radius: 4px;font-size: 14px;color: #333;background: #fff;border: 1px solid #e5e5e5;}
.sub_cont.find_com .sign_cont input::placeholder{color:#c1c1c2; font-weight:300;}
.sub_cont.find_com .sign_cont .err_msg{font-size: 13px;line-height: 13px;margin-bottom: 0;}
#p_changeFrm{width: 100%;max-width: 430px;margin: 0 auto;}

/* tab */
.tabs {width:100%;display:inline-block;}
.tabs > .title_box{border-bottom:0;padding-bottom: 20px;}
.tab_links {padding-left: 0; width: 100%;}
.tab_links:after {content: none;}
.tab_links li {float:left;width: 50%;list-style:none;}
.tab_links a {display: inline-block;width: 100%;text-align: center;font-size: 14px;font-weight: 400;padding: 0px 12px 0;text-decoration: none;color: #bbb;border-bottom: 2px solid #ddd;background: #fff;line-height: 36px;opacity: 1;}
.tab_links li.on a {color: #5f63ff;border-bottom: 2px solid #5f63ff;padding-top: 0px;}
.tab_links a:hover {text-decoration:none;}
.tab-content {margin-top: -1px;background:#fff;}
.tab-content.find{width: 100%;} 
.tab-content.find .name_box{margin-bottom: 12px;} 
.tab-content.find .find_btn{display: inline-block;padding: 0 10px;color: #fff;font-size: 14px;background: #5f63ff;border-radius: 4px;font-weight: 500;box-sizing: border-box;height: 48px;width: 100%;margin-top: 20px;line-height: 48px;}
.tab-content.find label{font-size: 14px;display: block;margin-bottom: 12px;font-weight: 600;}
.tab-content.find input{width: 100%;padding: 14px 12px;border-radius: 4px;font-size: 14px;color: #333;background: #fff;border: 1px solid #e5e5e5;}
.tab-content.find input::placeholder{color:#c1c1c2; font-weight:300;}
.tab-content.find .email_box > span{float: left;font-size: 15px;line-height: 44px;margin: 0 5px;}
.tab-content.find .email_box input{width: calc(50% - 13px);float: left;}
.tab-content.find .email_box select{padding: 12px 12px;border-radius: 4px;font-size: 14px;color: #333;width: 100%;background: #fff;border: 1px solid #b7b7b7;margin: 12px 0 0px;}
.tab-content.find .email_box + div > p{font-size: 14px;margin-top: 12px;line-height: 22px;word-break: keep-all;}


/* 회원가입 */
.step .btn_group {display: flex;justify-content: center;position: relative;margin-bottom: 150px;padding: 25px 0;width: 100%;}
.step .btn_group > * {font-weight: 500;width: 150px;line-height: 50px;text-align: center;font-size: 16px;border-radius: 15px;}
.step .btn_group button {background: #5f63ff;color: #fff;}
.step .btn_group a {border: 1px solid #e5e5e5;color: #b5b5b6;margin-right: 10px;}
.step.form .btn_group{position: relative;}
.input_btn {overflow: hidden; position: relative;}
.input_btn input {float: left;margin-right: 10px;width: calc(100% - 155px) !important;}
.input_btn button {width: 145px;font-size: 16px;line-height: 45px;border-radius: 15px;background-color: #e3e3e3;color: #000;font-weight: 600;}
.input_btn button[disabled]{background: #5f63ff;color: #fff;}
.err_msg {display: none;padding-top: 7px;color: rgb(255, 0, 0);}
.input_btn .cert_count {display: none;position: absolute;right: 165px;top: 14px;color: #5f63ff;}
.input_btn.on .cert_count {display: inline-block;}
.reco_step {position: relative;left: 50%;transform: translateX(-50%);width: 100%;padding: 0 20px 100px;}
.reco_step .chk_custom {display: flex;justify-content: space-between;padding: 0 40px;box-sizing: border-box;flex-wrap: wrap;}
.reco_step .chk_custom li {padding: 10px 0px; margin-top:50px;}
.reco_step .chk_custom .i_tit{font-size: 20px;line-height: 1.4;letter-spacing: -0.4px;margin-bottom: 10px;}
.reco_step .chk_custom .i_txt{font-sizE: 14px;line-height: 20px;letter-spacing: -0.4px;color: rgba(0,0,0,0.65);margin-bottom: 42px;}
.reco_step .chk_custom li a {text-align: center;display: inline-block;padding: 0 10px;color: #fff;font-size: 14px;background: #5f63ff;border-radius: 4px;font-weight: 700;box-sizing: border-box;height: 54px;width: 100%;line-height: 54px;}
.reco_step.step_multi .chk_custom {text-align: center;}
.reco_step.step_multi .chk_custom li {width: 50%;max-width: 430px;}
.reco_step .btn_group {position: relative;margin-top: 40px;display: inline-flex;margin-bottom: 0;padding: 0;}
.reco_step .btn_group > * {display: block;width: 100%;line-height: 78px;border-radius: 25px;border: 1px solid #5f63ff;text-align: center;font-size: 16px;}
.reco_step .btn_group a {margin-right: 5px;}
.reco_step .tit{width:100%;text-align: center;font-weight: 500;}

.sign_form {padding: 0;max-width: 100%;margin: 0 auto;}
.sign_form .req_msg{font-size: 14px;color: #757575;line-height: 20px;margin-bottom: 12px;text-align: right;}
.sign_form .req_msg .star{color:#ff6a6a;}
.sign_form .form_row + .form_row{margin-top: 20px;}
.sign_form .form_row label{display: block;font-size: 14px;line-height: 20px;letter-spacing: -0.4px;margin-bottom: 6px;}
.sign_form .form_row input[type="text"],
.sign_form .form_row input[type="password"],
.sign_form .form_row input[type="tel"] {width:100%;border: 1px solid #e5e5e5;padding: 0 12px;height: 46px;box-sizing: border-box;border-radius: 4px;font-size: 14px;color: #333;box-shadow: none;appearance: none;text-overflow: ellipsis;-webkit-appearance: none;}
.sign_form .form_row input[type="text"]::placeholder,
.sign_form .form_row input[type="password"]::placeholder,
.sign_form .form_row input[type="tel"]::placeholder {color:#c1c1c2; font-weight:300;}
.sign_form .form_row.email_box input{width: calc(50% - 13px);float: left;}
.sign_form .form_row.email_box label {display: inline-block;}
.sign_form .form_row.email_box .email_check {display: none;color: #ff0000;}
.sign_form .form_row.email_box > span {float: left;font-size: 15px;line-height: 46px;margin: 0 5px;}
.sign_form .form_row.email_box select {padding: 12px 8px;border-radius: 4px;font-size: 14px;color: #333;width: calc(100% - 125px);background: #fff;border: 1px solid #e5e5e5;margin: 12px 0 0px;margin-right: 10px;}
.sign_form .form_row.email_box > input[type=button] {width: 115px;font-size: 14px;margin-top: 12px;margin-left: -4px;padding: 13px 10px;cursor: pointer;float: initial;color: #333;background: #fff;border: 1px solid #e5e5e5;border-radius: 4px;}
.sign_form .form_row.pass_box{border-bottom: 1px solid #eaeaea;padding-bottom: 20px;margin-bottom: 20px;}
.sign_form .terms_box{margin-top: -20px;}
.sign_form .terms_box li {margin-bottom:15px;display: flex;align-items: center;}
.sign_form .terms_box li [class*="term_0"]{font-weight: 500;width: calc(100% - 20px);color: rgba(0,0,0,0.8);font-size: 15px;line-height: 24px;cursor: pointer;margin-left: 0;word-break: keep-all;display: inline-block;}
.sign_form .terms_box li [class*="term_0"] span{display: inline-block;color: rgba(0,0,0,0.4);font-size: 14px;margin-left: 5px;font-weight: 400;}
.sign_form .terms_box li input[type="checkbox"]{margin-right: 5px;}
.sign_form .terms_box li .term_pop{background: #fff;position: fixed;width: calc(100% - 41px);max-width: 600px;height: 100%;max-height: 700px;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 9999;display: none;border: 1px solid #000;border-radius: 5px;}
.sign_form .terms_box li .back_img{display:none; width: 100%;height: 100%;background: #000;opacity: 0.5;position: fixed;top: 0;z-index: 9998;left: 0;}
.sign_form .terms_box li .back_img.active{display:inline-block;}
.sign_form .terms_box li .term_service{display: inline-block;width: 100%;overflow-y: auto;height: calc(100% - 50px);padding: 15px;border-radius: 5px;resize: none;border: 0;}
.sign_form .terms_box li .term_service:focus{border:0; outline:0;}
.sign_form .terms_box li .term_service h3{margin-bottom: 12px;}
.sign_form .terms_box li .term_service p{font-size: 14px;margin-bottom: 8px;line-height: 20px;word-break: keep-all;}
.sign_form .terms_box li .term_service p:last-child{margin-bottom:0;}
.sign_form .terms_box li .term_service .tg{border:1px solid #000;margin-bottom: 8px; width:100%;}
.sign_form .terms_box li .term_service .tg th, .sign_form .terms_box li .term_service .tg td{border:1px solid #000;padding: 5px;word-break: keep-all;font-size: 13px;}
.sign_form .terms_box li .term_service .tg th a, .sign_form .terms_box li .term_service .tg td a{text-align: left;display: inline-block;width: initial;padding: 0;color: initial;font-weight: initial;border: none;font-size: 13px;border-radius: initial;height: initial;line-height: initial;}
.sign_form .terms_box li .term_service .tg td p{margin-bottom: 2px;}
.sign_form .terms_box li .term_check.disabled{cursor:not-allowed;color: rgba(0, 0, 0, 0.4);border: 1px solid rgba(0,0,0,0.4);}
.sign_form .terms_box .term_check_box {text-align:center; padding-top:10px;}
.sign_form .terms_box .term_check_box [class*="term_check"]{font-size: 14px;cursor: pointer;border: 1px solid #000;text-align: center;line-height: 26px;max-width: 100px;width: 50%;border-radius: 5px;display: inline-block;background: #fff;}
.sign_form .terms_box .term_check_box .term_check {border:1px solid #5f63ff; color: #5f63ff;}

.sign_form .form_row .pw_cont.pwd .tooltip {display: block;background: #fff;padding: 5px 10px 5px 5px;margin-top: 10px;border: 1px solid rgba(0,0,0,0.1);border-radius: 10px;z-index: 1;position: relative;}
.sign_form .form_row .pw_cont.pwd .tooltip:before {content: '';position: absolute;right: 18px;top: -10px;display: inline-block;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid rgba(0,0,0,0.1);}
.sign_form .form_row .pw_cont.pwd .tooltip:after {content: '';position: absolute;right: 20px;top: -8px;display: inline-block;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #fff;}
.sign_form .form_row .pw_cont.pwd .tooltip .chk_list li{font-size: 12px;line-height: 25px;color: rgba(0,0,0,0.65);display: flex;align-items: flex-start;}
.sign_form .form_row .pw_cont.pwd .tooltip .chk_list li:before{content: '';display: inline-block;width: 20px;height: 25px;min-width: 20px;margin-right: 2px;background: url("/img/mo/check_dis.png") no-repeat 50% 50%;background-size: 10px;}
.sign_form .form_row .pw_cont.pwd .tooltip .chk_list li.on{color:#5f63ff;}
.sign_form .form_row .pw_cont.pwd .tooltip .chk_list li.on:before{content: '';display: inline-block;width: 20px;height: 25px;min-width: 20px;background: url("/img/mo/check_on.png") no-repeat 50% 50%;background-size: 10px;}
.sign_form .sign_com_btn:disabled{color: #000000;background-color: #c3c3c3;cursor: default;}
.sign_form .sign_com_btn{width: 100%;display: inline-block;padding: 0 10px;color: #fff;font-size: 14px;background: #4c5ff5;border-radius: 4px;box-sizing: border-box;line-height: 48px;cursor: pointer;}
.sign_form .btn_group .back{display: inline-block;width: 30%;padding: 0 10px;color: #5a5a5a;font-size: 14px;border: 1px solid #e5e5e5;border-radius: 4px;box-sizing: border-box;line-height: 48px;}

.sign_form .form_row .pw_cont.re_pwd {margin-top: 10px;}
.sign_confrim {position: absolute;top:50%;padding: 0 20px;transform: translateY(-50%);width: 100%;text-align: center;}
.sign_confrim strong {display: block; padding-bottom: 15px;font-size: 15px;}
.sign_confrim strong i {display: block;padding-bottom: 20px;font-size: 5rem;}
.sign_confrim p {text-align: left; padding-bottom: 15px}
.sign_confrim p a {display: block;padding-top: 5px;text-decoration: underline;}
.sign_confrim + .btn_group a{background-color: #000;color: #fff}
.sign_cont.pwd{padding-bottom: 12px;}
.sub_cont .sign_end p.email, .find_com p.email{color:#5f63ff;}

.sub_box{margin-top: 22px;width: 100%;display: flex;justify-content: space-between;}
.sub_box .right_align{margin-top:6px;}
.sub_box .right_align a{text-decoration:none; color:#2d2d2d;}

.sign_kakao .or{margin: 10px auto;background: #fff;z-index: 1;height: 25px;font-size: 14px;width: 50px;text-align: center;position: relative;}
.sign_kakao .or::before{content:"";position: absolute;left: 50%;top: 12px;transform: translate(-50%);display:block;width: calc(100vw - 40px);height: 1px;background: rgba(0,0,0,0.1);}
.sign_kakao .or::after{content:"또는";position: absolute;left: 50%;top: 5px;color: rgba(0,0,0,0.2);background: #fff;transform: translate(-50%);display:block;width: 50px;}
.sign_kakao a{border: 1px solid #bfbfbf;color: #391a19;}
.sign_kakao a img{width: 30px;margin-top: -3px;margin-right: 10px;}

.sub_cont .sign_end p{text-align: center;}
.sub_cont .sign_end p.email, .find_com p.email{color:#5f63ff;}
.sub_cont .sign_end > div{border-top: 1px solid #ededed;margin-top: 10px;padding-top: 15px;text-align: center;margin-bottom: 10px;}
.sub_cont .sign_end > div a{text-decoration: underline;margin-top: 7px;display: block;}

.find_out {display: none;padding: 10px;}
.find_out.id {text-align: center;}
.find_out strong {display: block; padding-top: 15px; font-size: 16px;}
.find_out p {text-align: center;line-height: 1.5}
.find_out .err_msg {text-align: left;line-height: 1}
.find_out .sign_form {padding-top: 25px;}
.find_out a {margin-top: 15px;display: inline-block; width: 100px; line-height: 30px; background-color: #000; color: #fff}