<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>EnjoyStreet</title>

    <link rel="icon" href="http://www.enjoystreet.com/img/enjoystreet.ico" />
    <link rel="shortcut icon" href="http://www.enjoystreet.com/img/enjoystreet.ico" />
    <link rel="stylesheet" href="/css/pc/login.css" />
    <script src="/resource/pc/jquery.min.js"></script>
    <script src="/js/pc/script.js"></script>
    <script src="/js/mo/idcheck.js"></script>
    <script>
      $(window).on("load", function () {
        $(".nav_lnb .login_box li").last().addClass("hide");
        $(".nav_slidenav .login_box li").last().addClass("hide");
      });
    </script>
  </head>
  <body>
    <div class="wrap sub step login">
      {% include "common/pc/common/header.html" %}
      <div class="sub_cont sign">
        <div class="sub_header">
          <img src="/img/pc/enjoystreet_black.svg" alt="EnjoyStreet 로고" />
          <p><b>여행전문가이드</b> 회원가입</p>
        </div>
        <div>
          <!-- <form id="signFrm" target="payviewer" action="PC-CO-MEM0004.html" onsubmit="window.open('PC-CO-MEM0004.html', 'payviewer', 'width=600, height=800,resizeable,scrollbars');"> -->
          <form id="signFrm" action="/guide/Register" method="post" enctype="multipart/form-data">
            <div class="sign_form">
              <div class="form_row name_box">
                <label for="name_01">이름</label>
                <input type="text" id="name_01" name="name_01" placeholder="이름을 입력해주세요." title="이름입력" />
                <p class="err_msg"></p>
              </div>
              <div class="form_row email_box">
                <div>
                  <label for="email_01">이메일</label>
                  <span class="email_check">(체크 완료)</span>
                </div>
                <input type="text" name="email_01" value="" id="email_01" />
                <span>@</span>
                <input type="text" name="email_02" value="" id="email_02" placeholder="- - 직접입력 - -" />
                <select id="selectEmail">
                  <option value="직접입력" selected="selected">직접입력</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="naver.com">naver.com</option>
                  <option value="daum.net">daum.net</option>
                  <option value="hotmail.com">hotmail.com</option>
                  <option value="nate.com">nate.com</option>
                </select>
                <input type="button" name="emailCheck01" id="emailCheck01" value="중복체크" onclick="dupCheck()" class="emailCheck" />
                <p class="err_msg"></p>
              </div>
              <div class="form_row pass_box">
                <div class="pw_cont pwd">
                  <label for="pw">비밀번호 입력</label>
                  <input type="password" id="pw" name="password" placeholder="8자 이상으로 입력해주세요." maxlength="20" />
                  <div class="tooltip">
                    <ul class="chk_list">
                      <li class="pwdRule1">영문 + 숫자 + 특수 문자 2종류 포함</li>
                      <li class="pwdRule2">연속된 숫자 및 반복 숫자, 문자 4자 이상 제한</li>
                      <li class="pwdRule3">8자이상 20자미만</li>
                    </ul>
                  </div>
                  <p class="err_msg"></p>
                </div>
                <div class="pw_cont re_pwd">
                  <label for="rePw">비밀번호 확인</label>
                  <input type="password" id="rePw" placeholder="비밀번호를 다시한번 입력하세요." maxlength="20" disabled />
                  <p class="err_msg"></p>
                </div>
              </div>
              <div class="form_row file_box">
                <p>자격증 등록</p>
                <label for="file">업로드</label>
                <input type="file" id="file" name="image" accept="image/gif, image/jpeg, image/png" />
                <input class="upload-name" value="- - - -" readonly />
              </div>
              <div class="sub_header">
                <p>회원약관</p>
              </div>
              <div class="terms_box">
                <div class="terms_all_cont">
                  <label class="chk_custom" for="chk_all">
                    <input type="checkbox" name="모두 동의" id="chk_all" />
                    <span class="checkbox"></span>
                    모두 동의합니다.
                  </label>
                  <p>전체동의는 필수 및 선택정보에 대한 동의도 포함되어 있으며, 개별적으로도 동의를 선택하실 수 있습니다. 선택항목에 대한 동의를 거부하시는 경우에도 서비스는 이용이 가능합니다.</p>
                </div>
                <ul class="terms_cont">
                  <li class="must">
                    <label class="chk_custom mr-0" for="chk1">
                      <input type="checkbox" name="이용약관 동의" id="chk1" disabled />
                      <span class="checkbox"></span>
                    </label>
                    <div class="term_01">EnjoyStreet 온라인 플랫폼 이용약관 동의<span>(필수)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0001.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                  <li class="must">
                    <label class="chk_custom mr-0" for="chk2">
                      <input type="checkbox" name="개인정보 처리방침" id="chk2" disabled />
                      <span class="checkbox"></span>
                    </label>
                    <div class="term_02">EnjoyStreet 온라인 플랫폼 개인정보 처리방침 동의<span>(필수)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0002.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                  <li class="must">
                    <label class="chk_custom mr-0" for="chk3">
                      <input type="checkbox" name="위치정보 이용약관 동의" id="chk3" disabled />
                      <span class="checkbox"></span>
                    </label>
                    <div class="term_03">EnjoyStreet 위치정보 이용약관 동의<span>(필수)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0002.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <label class="chk_custom mr-0" for="chk4">
                      <input type="checkbox" name="위치정보 이용약관 동의" id="chk4" />
                      <span class="checkbox"></span>
                    </label>
                    <div class="term_03">프로모션에 관한 추가정보 활용 동의<span>(선택)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0002.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                  <li class="more_info pass">
                    <label class="chk_custom mr-0" for="chk5">
                      <input type="checkbox" name="위치정보 이용약관 동의" id="chk5" />
                      <span class="checkbox"></span>
                    </label>
                    <div class="term_03">맞춤 서비스를 위한 추가정보 수집에 대한 동의<span>(선택)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0002.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="enter_info">
                  <p>맞춤 서비스를 위한 추가정보 수집 항목</p>
                  <table>
                    <colgroup>
                      <col style="width:75px">
                      <col style="width:calc(100% - 75px)">
                    </colgroup>
                    <tbody>
                      <tr>
                        <th>생년월일</th>
                        <td>
                          <select id="i_year" name="year"></select>
                          <span>년</span>
                          <select id="i_month" name="month"></select>
                          <span>월</span>
                          <select id="i_day" name="day"></select>
                          <span>일</span>
                        </td>
                      </tr>
                      <tr>
                        <th>성별</th>
                        <td>
                          <div class="input_group opt_custom"id="gen_check">
                            <label for="opt1">
                              <input type="radio" name="gender" id="opt1" value="남자">
                              <span class="radiobox"></span>남자
                            </label>
                            <label for="opt2">
                              <input type="radio" name="gender" id="opt2" value="여자">
                              <span class="radiobox"></span>여자
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>전화번호</th>
                        <td><input type="text" name="ph_num" class="ph_num" id="ph_num" placeholder="예 : 010-1234-5679" maxlength="13"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="terms_box">
                <ul>
                  <li>
                    <input type="checkbox" name="개인정보 처리방침" id="chk1" disabled />
                    <div class="term_01">EnjoyStreet 온라인 플랫폼 이용약관 동의<span>(필수)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0001.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <input type="checkbox" name="개인정보 처리방침" id="chk2" disabled />
                    <div class="term_02">EnjoyStreet 온라인 플랫폼 개인정보 처리방침 동의<span>(필수)</span></div>
                    <div class="term_pop">
                      <div class="term_service">{% include "common/pc/common/terms/ter0002.html" %}</div>
                      <div class="term_check_box">
                        <div class="term_check disabled">동의합니다</div>
                        <div class="term_check_close">닫기</div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class=""></div>
              </div> -->

              <div class="btn_group">
                <a class="back" href="/signup/partner">되돌아가기</a>
                <button id="join-btn" type="submit" class="sign_com_btn" disabled>회원가입</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% include "common/pc/common/footer.html" %}
    </div>
    <script>
      $(function (event) {
        // name validation
        var getName = RegExp(/^[가-힣]+$/);
        // email validation
        var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
        // password validation
        var getRlap = /(\w)\1\1\1/;
        var getSpec = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

        // name
        $("#name_01").keyup(function () {
          var nameCheck = "false";
          if ($("#name_01").val() == "") {
            $("#name_01").focus();
            $(".name_box").removeClass("pass");
            $(".name_box .err_msg").text("필수입력 항목입니다.").show();
            $("button.sign_com_btn").attr("disabled", true);
            return false;
          } else if (!getName.test($("#name_01").val())) {
            $("#name_01").focus();
            $(".name_box").removeClass("pass");
            $(".name_box .err_msg").text("이름을 확인하세요.").show();
            $("button.sign_com_btn").attr("disabled", true);
            return false;
          } else if (getName.test($("#name_01").val()) || $("#name_01") != "") {
            $(".name_box .err_msg").hide();
            $(".name_box").addClass("pass");
          }
          check_submit();
        });

        // email select
        $("#signFrm #selectEmail").change(function () {
          var email_1 = $("input[name='email_01").val();
          var email_2 = $("input[name='email_02").val();
          var check_email = email_1 + "@" + email_2;
          var email_box01 = $(this).val();
          $("#signFrm .email_box .email_check").removeClass("on");
          $("#signFrm .email_box").removeClass("pass");
          if (email_box01 == "직접입력") {
            $("#signFrm input[name='email_02']").val("");
            $("#signFrm input[name='email_02']").attr("readonly", false);
            $("#signFrm button.sign_com_btn").attr("disabled", true);
            $("#signFrm .email_box .err_msg").text("이메일 형식을 확인하세요.").show();
          } else {
            $("#signFrm input[name='email_02']").val(email_box01);
            $("#signFrm input[name='email_02']").attr("readonly", true);
            if (email_1 != "") {
              $("#signFrm .email_box .err_msg").text("이메일 중복체크를 확인하세요.").show();
            }
          }
          if (getName.test(check_email) || check_email != "") {
            $("#signFrm .email_box .email_check").removeClass("on");
          }
          check_submit();
        });

        // email
        $("#signFrm #email_01, #signFrm #email_02").keyup(function () {
          var email_1 = $("input[name='email_01").val();
          var email_2 = $("input[name='email_02").val();
          var check_email = email_1 + "@" + email_2;
          var emailCheck = "false";
          // email check
          $("#signFrm .email_box").removeClass("pass");
          $("#signFrm .email_box .email_check").removeClass("on");
          if (email_1 == "" && email_2 == "") {
            $("#signFrm .email_box").removeClass("pass");
            $("#signFrm .email_box .email_check").removeClass("on");
            $("#signFrm .email_box .err_msg").text("필수입력 항목입니다.").show();
            $("#signFrm button.sign_com_btn").attr("disabled", true);
            return false;
          } else if (!getMail.test(check_email)) {
            $("#signFrm .email_box").removeClass("pass");
            $("#signFrm .email_box .email_check").removeClass("on");
            $("#signFrm .email_box .err_msg").text("이메일 형식을 확인하세요.").show();
            $("#signFrm button.sign_com_btn").attr("disabled", true);
            return false;
          } else if (getName.test(check_email) || check_email != "") {
            $("#signFrm .email_box .email_check").removeClass("on");
            $("#signFrm .email_box .err_msg").text("이메일 중복체크를 확인하세요.").show();
          }
          check_submit();
        });

        // email overlap check
        // $("#emailCheck01").on("click", function () {
        //   var email_1 = $("input[name='email_01").val();
        //   var email_2 = $("input[name='email_02").val();
        //   var check_email = email_1 + "@" + email_2;
        //   var test_email = "vredu@vreducation.kr";
        //   if ((email_1 == "" && email_2 == "") || email_1 == "" || email_2 == "") {
        //     $("#signFrm .email_box").removeClass("pass");
        //     $("#signFrm .email_box .email_check").removeClass("on");
        //     $("#signFrm .email_box .err_msg").text("필수입력 항목 입니다.").show();
        //     window.alert("ID를 입력해주세요");
        //     check_submit();
        //   } else if (!getMail.test(check_email)) {
        //     $("#signFrm .email_box").removeClass("pass");
        //     $("#signFrm .email_box .email_check").removeClass("on");
        //     $("#signFrm .email_box .err_msg").text("이메일 형식을 확인하세요.").show();
        //     check_submit();
        //   } else if (check_email == test_email) {
        //     $("#signFrm .email_box .email_check").removeClass("on");
        //     $("#signFrm .email_box").removeClass("pass");
        //     $("#signFrm .email_box .err_msg").text("이미 사용중인 이메일 입니다.").show();
        //     check_submit();
        //   } else if (check_email != test_email && getMail.test(check_email)) {
        //     $("#signFrm .email_box .email_check").addClass("on");
        //     $("#signFrm .email_box .err_msg").hide();
        //     check_submit();
        //   }
        // });

        // pass
        $("#pw, #rePw").keyup(function () {
          // password validation
          var pw = $("#pw").val();
          var getNumb = pw.search(/[0-9]/g);
          var getText = pw.search(/[a-z]/gi);
          var getSpace = /\s/;
          // check
          pwCheck01 = "false";
          pwCheck02 = "false";
          pwCheck03 = "false";
          pwCheck04 = "false";
          // check total
          pwCheck = "false";
          repwCheck = "false";
          if (pw == "") {
            $(".pwd .err_msg").text("필수 입력 입니다.").show();
            $(".chk_list li").removeClass("on");
            $("button.sign_com_btn").attr("disabled", true);
            $(".pass_box").removeClass("pass");
            $("#rePw").attr("disabled", true).val("");
            pwCheck01 = "false";
            return false;
          } else if (pw != "") {
            $(".pwd .err_msg").hide();
            pwCheck01 = "true";
          }

          if (pw.length < 8 || pw.length > 20) {
            pwCheck02 = "false";
            $(".pwdRule3").removeClass("on");
            $("button.sign_com_btn").attr("disabled", true);
            $("#rePw").attr("disabled", true).val("");
            $(".pass_box").removeClass("pass");
            $(".re_pwd .err_msg").hide();
            $(".pwd .err_msg").hide();
            return false;
          } else if (pw.length > 8 || pw.length < 20) {
            $(".pwdRule3").addClass("on");
            $(".pwd .err_msg").hide();
            pwCheck02 = "true";
          }

          if (getRlap.test(pw)) {
            pwCheck03 = "false";
            $(".pwdRule2").removeClass("on");
            $("button.sign_com_btn").attr("disabled", true);
            $("#rePw").attr("disabled", true).val("");
            $(".pass_box").removeClass("pass");
            $(".re_pwd .err_msg").hide();
            $(".pwd .err_msg").hide();
            return false;
          } else if (!getRlap.test(pw)) {
            $(".pwdRule2").addClass("on");
            $(".pwd .err_msg").hide();
            pwCheck03 = "true";
          }

          if (!getSpec.test(pw)) {
            pwCheck04 = "false";
            $(".pwdRule1").removeClass("on");
            $("button.sign_com_btn").attr("disabled", true);
            $("#rePw").attr("disabled", true).val("");
            $(".pass_box").removeClass("pass");
            $(".re_pwd .err_msg").hide();
            $(".pwd .err_msg").hide();
            return false;
          } else if (getSpec.test(pw)) {
            $(".pwdRule1").addClass("on");
            $(".pwd .err_msg").hide();
            pwCheck04 = "true";
          }
          if ((pwCheck01 = "true") && (pwCheck02 = "true") && (pwCheck03 = "true") && (pwCheck04 = "true")) {
            pwCheck = "true";
            $("#rePw").attr("disabled", false);
            $("#pw, #rePw").keyup(function () {
              var pw = $("#pw").val();
              var rePw = $("#rePw").val();
              $("#pw").keyup(function () {
                $("#rePw").val("");
                $(".re_pwd .err_msg").hide();
              });
              if (rePw == "") {
                $("button.sign_com_btn").attr("disabled", true);
                $(".pass_box").removeClass("pass");
                return false;
              } else if (rePw != pw) {
                $("button.sign_com_btn").attr("disabled", true);
                $(".pass_box").removeClass("pass");
                $(".re_pwd .err_msg").text("비밀번호가 일치하지 않습니다.").show();
                return false;
              } else if (rePw == pw) {
                $(".re_pwd .err_msg").hide();
                $(".pass_box").addClass("pass");
              }
              check_submit();
            });
          }
        });

        // file upload
        var fileTarget = $("#file");
        fileTarget.on("change", function () {
          var cur = $(".file_box input[type='file']").val();
          $(".upload-name").val(cur).addClass("pass");
          $(this).siblings("label").addClass("pass");
          $(this).parents(".file_box").addClass("pass");
          check_submit();
        });

        // terms
        // all check
        $("input#chk_all").click(function(){
          if($(this).is(":checked") == true){
            $(".terms_cont").find("li").addClass("pass").find("input[type='checkbox']").prop('checked',true).prop('disabled',false)
            $(".terms_cont").find("li").find(".term_check_box").find(".term_check").removeClass("disabled").addClass("pass")
            $(".more_info").removeClass("pass")
            termCheck();
            check_submit();
          }else if($(this).is(":checked") == false){
            $(".terms_cont").find("li").removeClass("pass").find("input[type='checkbox']").prop('checked',false)
            $(".more_info").addClass("pass")
            termCheck();
            check_submit();
          }
        })
        // terms checkbox
        $("[class*='term_0']").click(function(){        
          $("body").toggleClass('over');
          $(".back_img").toggleClass('active');
          $(".pop_up").toggleClass('active');
          $(this).siblings(".term_pop").show(200)
          $(".term_service").scroll(function(){
              var box = $(this);
              var scrollTop = $(this).scrollTop();
              var boxHeight = $(this).outerHeight();
              var scrollHeight = box[0].scrollHeight;
  
              if (scrollTop + 648 >= scrollHeight) {
                $(this).siblings(".term_check_box").children(".term_check").removeClass("disabled").addClass("pass")
              }
          });
          if($(".term_check").hasClass("pass")){
            $(".term_service").scrollTop(0);
          }
          termCheck();
          check_submit();
        });
        $(".term_check_close").on('click', function(){
          $(".term_pop").hide(200)
          $("body").removeClass('over');
          $(".back_img").removeClass('active');
        })
        $(".term_check").click(function(){
          if($(this).hasClass("pass")){          
            $("body").removeClass('over');
            $(".back_img").removeClass('active');
            $(".term_pop").hide(200)
            $(this).parents("li").addClass("pass")
            $(".more_info").removeClass("pass")
            $(this).parents("li").find("input[type='checkbox']").attr('disabled', false).prop("checked", true)
            termCheck();
            check_submit();
          } 
        })
        $("li").find("input[type='checkbox']").click(function(){
          if($(this).is(":checked")){
            $(this).parents("li").addClass("pass")
            if($("li.more_info.pass").find("input[type='checkbox']").is(":checked") == true){
              $("li.more_info").removeClass("pass")
            }
          }
          if(!$(this).is(":checked")){    
            $(".terms_box").removeClass("pass")
            $("button.sign_com_btn").attr('disabled', true);
            $(this).parents("li").removeClass("pass")
            $("input#chk_all").prop('checked',false)
            if($("li.more_info.pass").find("input[type='checkbox']").is(":checked") == false){
              $("li.more_info").addClass("pass")
            }
          }
          termCheck();
          check_submit();
        })
        // date select
        var dt = new Date();
        var com_year = dt.getFullYear();      
        $("#i_year").parents("tr").addClass("pass")
        for (var y = (com_year - 100); y <= (com_year + 0); y++){
          $("#i_year").prepend("<option value='"+y+"'>"+y+"</option>")
        }
        for (var i = 1; i <= 12; i++){
          $("#i_month").prepend("<option value='"+i+"'>"+i+"</option>")
        }
        for (var i = 1; i <= 31; i++){
          $("#i_day").prepend("<option value='"+i+"'>"+i+"</option>")
        }
        $("#i_year").children("option").eq(0).prop("selected",true);
        $("#i_month").children("option").eq(0).prop("selected",true);
        $("#i_day").children("option").eq(0).prop("selected",true);
  
        // gender select
        $("input[name=gender]").click(function(){
          $("#gen_check").parents("tr").addClass("pass")
          total_info();
        })
     
        // phone number
        $("#ph_num").keyup(function(){
          var key = event.charCode || event.keyCode || 0;
          $text = $(this);
          if($text.val().length < 13){
            $("#ph_num").parents("tr").removeClass("pass")
          }
          if($text.val().length == 13){
            $("#ph_num").parents("tr").addClass("pass")
          }
          if (key !== 8 && key !== 9) {
              if ($text.val().length === 3) {
                  $text.val($text.val() + '-');
              }
              if ($text.val().length === 8) {
                  $text.val($text.val() + '-');
              }
          }    
          total_info();
          return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
        })
  
        // total check
        function total_info(){
          var info_tb = $(".enter_info").find("tbody").find("tr").length
          var info_pass_tb = $(".enter_info").find("tbody").find("tr.pass").length
          if(info_tb == info_pass_tb){
            $(".more_info").addClass("pass")
          }else if(info_tb != info_pass_tb){
            $(".more_info").removeClass("pass")
          }
          termCheck();
          check_submit();
        }
  
        function termCheck(){
          var li_leng_on = $(".terms_box").children("ul").find("li.must, li.more_info").length
          var li_leng = $(".terms_box").children("ul").find("li.must.pass, li.more_info.pass").length
          var li_all_length = $(".terms_box").children("ul").find("li").length
          var li_all_pass = $(".terms_box").children("ul").find("li.pass").length
  
          if(li_leng == li_leng_on){
            $(".terms_box").addClass("pass")
            check_submit();
          } else if(li_leng != li_leng_on){
            $(".terms_box").removeClass("pass")
            check_submit();
          }
          if($(".terms_cont").find("li").length == li_leng_on){
            $("input#chk_all").prop('checked',true)
            check_submit();
          }
          if(li_all_length == li_all_pass){
            $("input#chk_all").prop('checked',true)
            check_submit();
          }
          // more input
          if($("li.more_info").find("input[type='checkbox']").is(":checked") == true){
            $(".enter_info").addClass("on")
          }else if($("li.more_info").find("input[type='checkbox']").is(":checked") == false){
            $(".enter_info").removeClass("on")
          }
        }
      });

      // all pass check
      var check_ture = "true";
      function check_submit() {
        if (
          $(".name_box").hasClass("pass") === true &&
          $(".email_box").hasClass("pass") === true &&
          $(".pass_box").hasClass("pass") === true &&
          $(".terms_box").hasClass("pass") === true &&
          $(".file_box").hasClass("pass") === true
        ) {
          $("button.sign_com_btn").attr("disabled", false);
        }else{$("button.sign_com_btn").attr('disabled', true)}
      }
    </script>
  </body>
</html>
