<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="icon" href="http://www.enjoystreet.com/img/enjoystreet.ico">
  <link rel="stylesheet" href="/resource/pc/ax5ui/css/ax5ui.all.css">
  <link rel="stylesheet" href="/css/pc/login.css">

  <script src="/resource/pc/jquery.min.js"></script>  
  <script src="/resource/pc/ax5ui/js/ax5ui.all.min.js"></script>
  <script src="/js/pc/script.js"></script>
  <title>LOGIN</title>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YR5ECZ4DFY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-YR5ECZ4DFY');
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-YR5ECZ4DFY');
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      // Password show/hide
      $('.pass_box i').on('click',function(){
        $('.pass_box input').toggleClass('active');
        if($('.pass_box input').hasClass('active')){
          $(this).attr('class',"icon ion-md-eye").css({"color":"#5f63ff"})
          .prev('input').attr('type',"text");
        }else{
          $(this).attr('class',"icon ion-md-eye-off").css({"color":"#989db1"})
          .prev('.pass_box input').attr('type','password');
        }
      });
    });

    // id cookie setting
    $(document).ready(function(){
      var userInputId = getCookie("userInputId");
      $("input[name='id']").val(userInputId);        
      if($("input[name='id']").val() != ""){
          $("#chk1").attr("checked", true);
      }       
      $("#chk1").change(function(){
          if($("#chk1").is(":checked")){
              var userInputId = $("input[name='id']").val();
              setCookie("userInputId", userInputId, 7); // one week to save
          }else{
              deleteCookie("userInputId");
          }
      }); 
      $("input[name='id']").keyup(function(){
          if($("#chk1").is(":checked")){
              var userInputId = $("input[name='id']").val();
              setCookie("userInputId", userInputId, 7); // one week to save
          }
      });
    });    
    function setCookie(cookieName, value, exdays){
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }    
    function deleteCookie(cookieName){
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }    
    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }
  </script>
</head>
<body>
  <section class="login_contain sub">
    {% include "common/pc/common/header.html" %}
    <article class="layout col_12">
      <article class="login_form">
        <div class="title_wrap"><h1>ENJOY STREET(판매점)</h1></div>
        <form action="/auth/store-login" class="form" id="loginFrm" method="post">          
          <div class="id_box">
            <input type="text" id="email" name="email" class="id" placeholder="아이디(이메일주소)를 입력해주세요." title="아이디 입력">
            <p class="err_msg"></p>
          </div>
          <div class="pass_box">
            <input type="password" id="pw" name="password" class="pass" placeholder="비밀번호를 입력해주세요." title="비밀번호 입력">
            <i class="icon ion-md-eye-off"></i>
            <p class="err_msg"></p>
          </div>
          <button type="submit" class="sign_btn"><span>로그인</span></button>
          <div class="sub_box">
            <div class="input_group chk_custom">
              <label for="chk1">
                <input type="checkbox" id="chk1">
                <span class="checkbox"></span>아이디 저장
              </label>
            </div>
            <a href="/forget" onclick="window.open(this.href, '_blank', 'width=600, height=800, location=no, status=no, toolbar=no, scrollbars=no'); return false;">아이디/비밀번호 찾기</a>
          </div>
          <div class="signup_box">
            <p>아직 ENJOY STREET 파트너가 아니신가요?</p>
            <a href="/store/signup">회원가입</a>
          </div>
        </form>
        <div id="checking" style="display:none;">{{ errorCode }}</div>
      </article>
    </article>
    {% include "common/pc/common/footer.html" %}
  </section>
  <script>
    $(function(){      
      var count = 0
      var checked = "true"
      var toast = new ax5.ui.toast();
      $('#loginFrm').on('submit', function(){
        
        // email validation 
        var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
        
        // // test id/pw
        // var test_id = "vredu@vreducation.kr"
        // var test_pw = "1118!"

        // email(id) check
        if ($("#email").val() == '') {
          $("#email").focus();
          $(".id_box .err_msg").text("필수입력 항목입니다.").show();
          return false;
        }
        else if (!getMail.test($("#email").val())) {
          $("#email").focus();
          $(".id_box .err_msg").text("이메일 형식을 확인하세요.").show();
          return false;
        }
        // else if ($("#email").val() != test_id) {
        //   $("#email").focus();
        //   $(".id_box .err_msg").text("일치하는 회원 정보가 없습니다.").show();
        //   return false;
        // }
        // if ($("#email").val() == test_id) {
        //   $(".id_box .err_msg").text("").show().css({"display":"none"});
        // }

        // password check
        // var pwd = $('#pw').val()        
        // if (pwd == '') {
        //   $('#pw').focus();
        //   $(".pass_box .err_msg").text("비밀번호를 확인해주세요.").show();
        //   return false;
        // }
        // else if(pwd != test_pw){
        //   checked = "false"
        //   count++
        //   $('#pw').focus();
        //   //$(".pass_box .err_msg").text("입력하신 비밀번호와 일치하지 않습니다. ("+ count + "/5)").show();
        //   $(".pass_box .err_msg").text("입력하신 비밀번호와 일치하지 않습니다.").show();
        //   // password excess error toast
        //   if(count > 5){
        //     $(".pass_box .err_msg").text("").show().css({"display":"none"});
        //     toast.setConfig({
        //       theme: 'danger',
        //       width:'340',
        //       containerPosition: "top-center",
        //       icon: '<i class="far fa-bell"></i>',
        //       closeIcon: '<i class="fa fa-times"></i>',
        //       lang: {"ok": "닫기"},
        //     });
        //     $(function() {
        //       toast.confirm({
        //         msg: "비밀번호 오류 초과, 재설정이 필요합니다.",
        //       }, function() {
        //         console.log(this);
        //       });
        //       $(".ax5-ui-toast-container").delay(3000).fadeOut(500, function(){
        //         $(this).remove();
        //       }) 
        //     });
        //   }
        //   return false;
        // }
        // else if(count > 5 && pwd == test_pw){
        //   location.replace('#')          
        //   return false;
        // }

        $(".err_msg").hide();
      });
    });

    $(window).load(function(){
      var count = 0
      var checked = "true"
      var toast = new ax5.ui.toast();

      var passAction = $("#checking").html();

      if (passAction == 1 ) {
        $(".id_box .err_msg").text("").show().css({"display":"none"});
          // toast
          toast.setConfig({
            width:'340',
            containerPosition: "top-center",
            lang: {"ok": "닫기"},
          });
          $(function() {
            toast.confirm({
              theme: 'primary',
              icon: '<i class="far fa-bell"></i>',
              closeIcon: '<i class="fa fa-times"></i>',
              msg: "비밀번호가 일치하지 않습니다.",
            }, function() {
              console.log(this);
            });
          });            
          $(".ax5-ui-toast-container").delay(3000).fadeOut(500, function(){
            $(this).remove();
          }) 
        return false;
        } else if (passAction == 2 ) {
        $(".id_box .err_msg").text("").show().css({"display":"none"});
          // toast
          toast.setConfig({
            width:'340',
            containerPosition: "top-center",
            lang: {"ok": "닫기"},
          });
          $(function() {
            toast.confirm({
              theme: 'danger',
              icon: '<i class="far fa-bell"></i>',
              closeIcon: '<i class="fa fa-times"></i>',
              msg: "가입된 이메일이 아닙니다.",
            }, function() {
              console.log(this);
            });
          });            
          $(".ax5-ui-toast-container").delay(3000).fadeOut(500, function(){
            $(this).remove();
          }) 
        return false;
        }
      })   
  </script>
</body>
</html>
