<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Streamer</title>
  <link rel="stylesheet" href="/css/contents.css">
  <script src='adapter.js'></script>
  <script src="/resource/jquery.min.js"></script>
  <script src="/resource/jquery-ui/jquery-ui.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="streamer.js"></script>
  <script src="viewer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/script.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> test용 더보기 src> -->

</head>

<body class="on_air_in travel">
  <input type="text" class="copy_url" id="curURL">
  <section>
    <article class="on_header">
      <nav>
        <ul>
          <li>
            <a href="#" class="logo">LIVE</a>
          </li>
          <li>
            <button type="button" class="alram" data-navpopOpen="notification"><i class="far fa-bell"></i></button>
            <button type="button" class="link" id="copyUrl"><i class="fas fa-link"></i></button>
            <button type="button" class="prev_btn" onclick="location.href='https://enjoystreet.com/ec/'"><i
                class="fas fa-times"></i></button>
          </li>
        </ul>
      </nav>
      <div class="popcont noti_pop" data-navpopcont="notification">
        <div data-navpopclose="notification"></div>
      </div>
      <div class="item">
        <div class="icon">
          <span class="img">
            <img src="/img/live_travel01_min.jpg" alt="작은감자이미지">
          </span>
        </div>
        <div class="live_info">
          <div class="title">
            <h2 class="live_tit">[ソウル]韓国の新世界(シンセゲ)百貨店紹介</h2>
          </div>
          <a href="#"><img src="/img/guide02.jpg" alt="">キム·ボムソクガイド</a>
          <span class="view_num"><i class="fas fa-play"></i> 5</span>
          <span class="like_num"><i class="far fa-heart"></i> <span class="cnt">0</span></span>
        </div>
      </div>
    </article>
    <article class="on_main">
      <video src="../resource/video/live.mp4" autoplay loop id="liveVideo"></video>
      <div class="chat display-container" id="div_chat">
        <ul class="chatting-list chat_cont">
        </ul>
      </div>
    </article>
    <article class="on_bottom">
      <div class="bottom_item_wrap">
        <ul>
          <li><button type="button" class="chat"><i class="far fa-comment-dots"></i></button></li>
          <li><button type="button" class="map"><i class="fas fa-map"></i></button></li>
          <li><button type="button" class="like"> <i class="far fa-heart"></i></button></li>
          <li><button type="button" class="cart"
              onclick="location.href='https://enjoystreet.com/ec/products/list?category_id=4'"><i
                class="fas fa-shopping-basket"></i></button></li>
        </ul>
      </div>
    </article>
  </section>

  <div class="popcont chatting">
    <div class="wrapper">
      <div class="user-container">
        <label for="nickname">이름 : </label>
        <input type="text" id="nickname">
      </div>
      <div class="display-container">
        <ul class="chatting-list">

        </ul>
      </div>
      <div class="input-container">
        <span>
          <input type="text" class="chatting-input">
          <button class="send-button">전송</button>
        </span>
      </div>
    </div>
  </div>

  <div class="popcont shoplist">
    <div class="bg"></div>
    <ul id="shoplist">
      <li class="title">
        <p>ショップ情報</p>
      </li>
    </ul>
  </div>



  <!-- <div>
        {% include "sender.html" %}
        {% include "viewer.html" %}
    </div> -->
  <script src="chat.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>

</html>