<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>room</title>
    <script  src='/socket.io/socket.io.js'></script>
    <script src='../sfu/mediasoupClient.js'></script>
    <script src='../js/common/roomClient.js'></script>
    <script src='../js/common/room.js'></script>
  </head>
  <body onload="initClient()">
	<div>영상 재생 되는 room</div>
    <div id='videoMediaContainer'> 
        <!-- <div class='Camera'></div> --> 
    </div>
    <div id='remoteAudios'></div>
  </body>
</html>