@charset "utf-8";
@import "base.css";
@import "fontawesome.css";
@import "ionicons.min.css";

/* login */
body{background:#fff;}
.login_contain{width:100%; height:100%;overflow: hidden;}
.login_contain .layout{height:100%; float:left; margin:0;  position:relative;}
.login_contain .left{background:#5567ff; padding:50px 30px 50px 70px;}
.login_contain .top_title{position:absolute; z-index:1;}
.login_contain .top_title .logo_wrap {margin-bottom:15px;}
.login_contain .top_title .logo_wrap img{width:165px;}
.login_contain .top_title span{line-height:1.5; color:#a6aeff;}
.login_contain .bg_img {position:absolute; width:100%; bottom:30px; right:0; text-align:right; padding-left:70px;}
.login_contain .bg_img img{max-width:650px;}

.login_contain .login_form {width: 100%;max-width:535px;position: absolute;top: 46%;left: 50%;transform: translate(-50%, -50%);text-align:left; padding:0 30px}
.login_contain .login_form .title_wrap {width:100%; margin-bottom:50px;}
.login_contain .login_form .title_wrap img{width:298px;}
.login_contain .login_form .title_wrap h1{font-size:40px; color:#1e2539;}
.login_contain .login_form .title_wrap span{font-size:24px; color:#9096ab; display:block; text-align:left; margin-bottom:16px;}
.login_contain.beta .login_form .title_wrap:after{content:"BETA";display:inline-block;padding: 3px 7px 6px 7px;background:#2c3cff;color:#fff;border-radius: 9px;vertical-align:top; margin-left:6px;line-height: 13px;}
.login_contain .login_form .form{margin-bottom:40px; position:relative;}
.login_contain .login_form .form h2{font-size:13px; font-weight:400; color:#a1a3b6; margin-bottom:15px;}
.login_contain .login_form .form input{border:0; border-bottom:1px solid #d0d8dd; width:100%; font-size:15px; padding-bottom:14px; margin-bottom:30px;}
.login_contain .login_form .form .pass,.login_contain .login_form .form .email{margin-bottom:0;}
.login_contain .login_form .form #loginPwd,
.login_contain .login_form .form #newPwd {margin-bottom: 30px}
.login_contain .login_form form input:focus {outline:none;}
.login_contain .login_form .pass_box input{padding-right:35px;}
.login_contain .login_form .pass_box i {position:absolute;font-size:25px; left:94%;top:118px; color:#949aae; cursor:pointer; color:#989db1;}
.login_contain .login_form .input_group {display:inline-block;}
.login_contain .login_form .checkbox {vertical-align:middle; margin-top:0;}
.login_contain .login_form .sub_box{margin-top:21px;}
.login_contain .login_form .sub_box .right_align{margin-top:6px;}
.login_contain .login_form .sub_box .right_align a{text-decoration:none; color:#2d2d2d;}
.login_contain .login_form .lang_box {position: relative; padding-top: 21px; width: 100%;}
.login_contain .login_form .lang_box #lang_select {cursor: pointer; padding: 0 13px 0 10px;width: 100%; height: 35px; font-size: 14px; color: #9096ab; text-align: left;border: 1px solid #d7dce5; border-radius: 6px; box-shadow: 1px 1px 5px 0px rgba(232, 234, 255, 1); background:#fff url('../img/icon/icon_down02.png') 97% center no-repeat;}
.login_contain .login_form .lang_box ul {display: none;position: absolute; z-index: 10; margin-top: 5px;width: 100%; border: 1px solid #d7dce5; border-radius: 6px; box-shadow: 1px 1px 5px 0px rgba(232, 234, 255, 1); background-color: rgba(255,255,255,0.9)}
.login_contain .login_form .lang_box ul.active {display: block;}
.login_contain .login_form .lang_box ul li {border-top:1px solid #d7dce5;}
.login_contain .login_form .lang_box ul li:first-child {border-top:0;}
.login_contain .login_form .lang_box label {display: block; padding: 0 10px; width: 100%; line-height: 33px;cursor: pointer;}
.login_contain .login_form .lang_box label .icon {display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat;vertical-align: text-bottom;}
.login_contain .login_form .lang_box label[for="lang1"] .icon {background-image: url('../img/icon/lang_icon01.png');}
.login_contain .login_form .lang_box label[for="lang2"] .icon {background-image: url('../img/icon/lang_icon02.png');}
.login_contain .login_form .lang_box label[for="lang3"] .icon {background-image: url('../img/icon/lang_icon03.png');}
.login_contain .login_form .lang_box label[for="lang4"] .icon {background-image: url('../img/icon/lang_icon04.png');}
.login_contain .login_form .lang_box label[for="lang5"] .icon {background-image: url('../img/icon/lang_icon05.png');}
.login_contain .login_form .lang_box ul li.on,
.login_contain .login_form .lang_box label:hover {background-color: #5567ff; color: #fff;border-radius: 4px}
.login_contain .login_form .lang_box ul li.on {border-radius: 0}
.login_contain .login_form .lang_box label .radiobox {display: inline-block; float: right; width: 12px; height: 33px;}
.login_contain .login_form .lang_box input:checked ~ .radiobox {background: url('../img/icon/icon_radio.png') center no-repeat;}
.login_contain .login_form .lang_box input {border: 0; width: auto; margin: 0;}
.login_contain .login_form h3{font-size:12px; font-weight:400;}
.login_contain .login_form h3 a{color:#5567ff; text-decoration:underline;}
.login_contain .button_group {display: flex;}
.login_contain .sign_btn{margin-top:21px; padding:13px; width:100%; text-align:center; background:#5567ff; font-size:16px; color:#fff; border-radius:15px; cursor:pointer;}
.login_contain .sign_btn.cancel {margin-left: 5px; background:#fff; border:1px solid #5567ff; color: #5567ff}

/* ax5ui alerts */
.ax-button-wrap button {font-size:12px;}
.ax5-ui-dialog .ax-dialog-header {color: #514dff;background: #e8efff;}
.ax5-ui-dialog .ax-dialog-body button {cursor:pointer;padding:5px 8px 4px 8px;vertical-align:middle;border:1px solid #514dff; color:#514dff;background:#fff;}

@media (max-width:1200px) {
  .login_contain .left {display: none}
  .login_contain .right {width: 100%}
  .login_contain .login_form {top:50%}
  .login_contain .login_form .title_wrap {margin-bottom: 30px;}
  .login_contain .login_form .title_wrap img {width: 85%;}
  .login_contain .login_form .title_wrap h1 {font-size: 25px;}
  .login_contain .sign_btn {margin-top: 30px;}
}
